{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - La boutique fait à la main{% endblock %}

{% block content %}
    <h2>Je passe ma commande</h2>
    <p>Choisissez vos préférences avant de passer votre commande sur La Boutique Française</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <strong>Choisir mon adresse de livraison</strong><br>
            <strong>Choisir mon transporteur</strong>
        </div>
        <div class="col-md-6">
            <strong>Récap de ma commande</strong><br>
            <strong>Bouton pour payer</strong>
        </div>
    </div>
{% endblock %}
